<div class="inline-block rounded-full m-2 p-2 text-gray-950 bg-gray-300 bg-opacity-25 hover:bg-opacity-50 drop-shadow backdrop-blur-sm duration-300 cursor-pointer">
    {% include buttonIcon %}
</div>  