{# Color scheme #}
{# Tailwind needs to see full class names; can't use variables within classes as a result #}
{%- if config.ui.colorPreference == 'dark' -%}
  {%- set dialogBgColor = "bg-black/30" -%}
  {%- set dialogBorderColor = "border-white/10" -%}
  {%- set dividerColor = "before:text-gray-300" -%}
  {%- set headerTextColor = "text-gray-50" -%}
  {%- set tagBgColor = "bg-gray-200/30" -%}
  {%- set textColor = "text-gray-100" -%}
{%- elif config.ui.colorPreference == 'light' -%}
  {%- set dialogBgColor = "bg-white/40" -%}
  {%- set dialogBorderColor = "border-black/10" -%}
  {%- set dividerColor = "before:text-gray-600" -%}
  {%- set headerTextColor = "text-gray-950" -%}
  {%- set tagBgColor = "bg-gray-300/30" -%}
  {%- set textColor = "text-gray-900" -%}
{%- else -%}
  {%- set dialogBgColor = "bg-white/40 dark:bg-black/30" -%}
  {%- set dialogBorderColor = "border-black/10 dark:border-white/10" -%}
  {%- set dividerColor = "before:text-gray-600 dark:before:text-gray-300" -%}
  {%- set headerTextColor = "text-gray-950 dark:text-gray-50" -%}
  {%- set tagBgColor = "bg-gray-300/30 dark:bg-gray-200/30" -%}
  {%- set textColor = "text-gray-900 dark:text-gray-100" -%}
{%- endif -%}

{# Calculate shutter speed #}
{# https://photo.stackexchange.com/questions/108817/shutter-speed-from-the-exif-shutterspeedvalue #}
{%- if imgObj.exif.ShutterSpeedValue -%}
  {%- if imgObj.exif.ShutterSpeedValue < 0 -%}
    {%- set base = 2**(-imgObj.exif.ShutterSpeedValue) -%}
    {%- set calculatedShutterSpeed = base | round(-1) -%}
  {%- else -%}
    {%- set base = 2**imgObj.exif.ShutterSpeedValue -%}
    {%- set calculatedShutterSpeed = '1/' + base | round(-1) -%}
  {%- endif -%}
{%- endif -%}

<dialog
  class="z-50 max-w-lg max-h-[90vh] overflow-x-hidden overflow-y-scroll rounded-lg p-10 backdrop-blur-3xl border-[1px] focus-visible:outline-0 {{ dialogBgColor }} {{ dialogBorderColor }}"
  id="dialog-details"
>
  <button
    class="absolute appearance-none right-0 top-0 p-4 focus-visible:outline-0 hover:text-opacity-50 {{ textColor }}"
    onclick="(function(){ document.getElementById('dialog-details').close();})(this)"
    title="Close"
  >
    {%- include "src/_includes/icons/close.njk" -%}
  </button>

  {%- if imgObj.title -%}
    <h1 class="mb-2 text-2xl font-semibold {{ headerTextColor }}">
      {{ imgObj.title }}
    </h1>
  {%- endif -%}

  {%- if imgObj.description -%}
    <p
      class="description-text max-h-[11.75rem] overflow-scroll scroll-smooth overscroll-contain leading-7 {{ textColor }}"
    >
      {{ imgObj.description }}
    </p>
  {%- endif -%}

  {%- if (config.ui.showDetailsExif == 'true') and (imgObj.exif) -%}
    <div class="my-6">
      {# Sanity currently does not support EXIF data for camera make and model; only the lens make and model. #}

      {%- if imgObj.exif.LensModel -%}
        <div class="mb-2 {{ textColor }}">
          <span class="inline-block align-baseline">
            {%- include "src/_includes/icons/aperture.njk" -%}
          </span>
          <span class="ml-2 inline-block align-text-bottom max-w-xs truncate"
            >{{ imgObj.exif.LensMake }} {{ imgObj.exif.LensModel }}</span
          >
        </div>
      {%- endif -%}

      {%- if imgObj.exif.FNumber or calculatedShutterSpeed -%}
        <div class="mb-2 {{ textColor }}">
          <span class="inline-block align-baseline">
            {%- include "src/_includes/icons/settings.njk" -%}
          </span>

          <span class="inline-block align-text-bottom">
            {%- if imgObj.exif.FocalLengthIn35mmFormat or imgObj.exif.FocalLength -%}
              <span class="ml-2"
                >{{ imgObj.exif.FocalLengthIn35mmFormat or imgObj.exif.FocalLength }}mm</span
              >
            {%- endif -%}

            {%- if imgObj.exif.FNumber -%}
              <span
                class="ml-2 [&:not(:first-child):before]:mr-2 [&:not(:first-child):before]:content-['\00B7'] {{ dividerColor }}"
                >ƒ{{ imgObj.exif.FNumber }}</span
              >
            {%- endif -%}

            {%- if calculatedShutterSpeed -%}
              <span
                class="ml-2 [&:not(:first-child):before]:mr-2 [&:not(:first-child):before]:content-['\00B7'] {{ dividerColor }}"
                >{{ calculatedShutterSpeed }}s</span
              >
            {%- endif -%}

            {%- if imgObj.exif.ISOSpeed or imgObj.exif.ISO -%}
              <span
                class="ml-2 [&:not(:first-child):before]:mr-2 [&:not(:first-child):before]:content-['\00B7'] {{ dividerColor }}"
                >ISO{{ imgObj.exif.ISOSpeed  or imgObj.exif.ISO }}</span
              >
            {%- endif -%}
          </span>
        </div>
      {% endif %}
    </div>
  {%- endif -%}

  {%- if imgObj.tags -%}
    <div class="w-full text-sm {{ textColor }} mt-6">
      {%- for tag in imgObj.tags -%}
        <span
          class="mr-2 mb-2 px-3 py-1 inline-block rounded-xl {{ tagBgColor }}"
          >{{ tag }}</span
        >
      {%- endfor -%}
    </div>
  {%- endif -%}
</dialog>
