<!-- https://www.sanity.io/docs/embedding-sanity-studio -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ config.admin.title }}</title>
    <link rel="stylesheet" href="styles/sanity.css" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="js/sanity.ts"></script>
  </body>
</html>
