---
layout: layouts/base.njk
permalink: "404.html"
eleventyComputed:
  title: 404 | {{ config.metadata.title }}
---

{%- set textPrimary = "text-white" if config.ui.colorPreference == "dark" else ("text-black" if config.ui.colorPreference == "light" else "text-black dark:text-white") -%}

<main class="h-screen flex items-center justify-center justify-self-center">
  <div class="">
    <p class="text-center text-lg font-medium {{ textPrimary }}">
      404 | Not Found
    </p>
    <br />
    <p class="text-gray-500 text-center">
      Go back to the
      <a
        class="hover:text-sky-500 underline cursor-pointer"
        href="{{ "/" | toRelativeUrl }}"
        >home page</a
      >
    </p>
  </div>
</main>
