---
layout: layouts/base.njk
---

{%- set gridClasses = "flex flex-wrap gap-grid" if config.ui.gridLayout == "masonry" else "grid grid-cols-[repeat(auto-fill,_minmax(320px,_1fr))] gap-grid" -%}
{%- set gridItemClasses = "restrict-image-width relative h-[40vh] max-h-full max-w-full grow leading-[40vh] transition-opacity hover:opacity-70 active:opacity-50" if config.ui.gridLayout == "masonry" else "relative transition-opacity hover:opacity-70 active:opacity-50" -%}
<div class="{{ gridClasses }}">
  {%- for image in sanity -%}
    <a
      class="{{ gridItemClasses }}"
      href="{{ image | extractImageTitleFromObj | toPreviewUrl }}/"
    >
      {%- set imgObj = image -%}
      {%- set thumbnail = true -%}
      {%- set aspectRatio = "1 / 1" if config.ui.gridLayout != "masonry" -%}
      {%- set placeholderClasses = "max-h-full min-h-full min-w-full max-w-full object-cover" if config.ui.gridLayout == "masonry" else "h-full w-full object-cover" -%}
      {%- include "src/_includes/components/image-renderer.njk" -%}
    </a>
  {%- endfor -%}
</div>
