---
layout: layouts/base.njk
pagination:
  data: sanity
  size: 1
  alias: image
permalink: "{{ image | toRelativeURLFromObj }}/"
eleventyComputed:
  title: "{{ image | extractImageTitleFromObj | title }} | {{ config.metadata.title }}"
  description: "{{ image.description }}"
  imageUrl: "{{ image.url }}"
---

<div class="flex h-[100svh] w-screen items-center justify-center">
  <div
    class="max-w-[100vw] min-h-[100svh] relative flex items-center"
    style="aspect-ratio: {{ image.aspectRatio | round(2) }}"
  >
    <div
      class="absolute min-h-full min-w-full backdrop-blur-xl transition-opacity duration-1000"
    ></div>
    <img
      alt="{{ image.altText or image.title or 'Description not available' }}"
      class="max-h-[100svh] min-w-full max-w-[100vw] object-cover"
      src="{{ image.lqip }}"
      style="aspect-ratio: {{ image.aspectRatio }}"
    />
    <img
      alt="{{ image.altText or image.title or 'Description not available' }}"
      class="hidden"
      onload="(function(el){el.onload='';el.previousElementSibling.src = el.src;el.previousElementSibling.previousElementSibling.classList.add('opacity-0')})(this)"
      src="{{ image | toOptimizedURLFromObj | safe }}"
    />
  </div>

  {# Details dialog (modal) markup #}
  {%- if config.ui.showDetails == "true" -%}
    {% set imgObj = image %}
    {% include "src/_includes/components/dialog-details.njk" %}
  {%- endif -%}
</div>

{# Buttons #}
{%- if pagination.href.previous -%}
  <div class="flex fixed top-0 left-0 items-center min-h-[100svh]">
    {% set buttonIcon = "src/_includes/icons/previous.njk" %}
    {% set buttonId = "previous" %}
    {% set buttonTitle = "Previous (←)" %}
    {% set buttonLink = pagination.href.previous %}
    {% include "src/_includes/components/button-link.njk" %}
  </div>
{%- endif -%}

{%- if pagination.href.next -%}
  <div class="flex fixed top-0 right-0 items-center min-h-[100svh]">
    {% set buttonIcon = "src/_includes/icons/next.njk" %}
    {% set buttonId = "next" %}
    {% set buttonTitle = "Next (→)" %}
    {% set buttonLink = pagination.href.next %}
    {% include "src/_includes/components/button-link.njk" %}
  </div>
{%- endif -%}

<div class="fixed top-0 right-0">
  {# checking the length of exif object here due to Sanity's behavior of including only unrelated data #}
  {%- if config.ui.showDetails == 'true' and image.title or image.description or image.exif | length > 5 or image.tags -%}
    {% set buttonIcon = "src/_includes/icons/details.njk" %}
    {% set buttonClasses = "float-left" %}
    {% set buttonId = "details" %}
    {% set buttonTitle = "Details (D)" %}
    {% set buttonClickFunc = "(function(){ document.getElementById('dialog-details').showModal();})(this)" %}
    {% include "src/_includes/components/button.njk" %}
  {%- endif -%}
  {% set buttonIcon = "src/_includes/icons/close.njk" %}
  {% set buttonId = "close" %}
  {% set buttonTitle = "Close (Esc)" %}
  {% set buttonLink = ['/', config.app.basePathName] | join %}
  {# TODO: check if it goes to the previous place and check with subdomains #}
  {% include "src/_includes/components/button-link.njk" %}
</div>

{% block js %}
  <script type="module" src="/js/preview.ts"></script>
{% endblock %}
