---
layout: layouts/base.njk
pagination:
  data: sanity
  size: 1
  alias: image
permalink: "{{ image | extractImageTitleFromObj | toPreviewUrl }}/"
eleventyComputed:
  title: "{{ image | extractImageTitleFromObj | title }} | {{ config.metadata.title }}"
  description: "{{ image.description }}"
  imageUrl: "{{ image.url }}"
  bgColors:
    from: "{{ image.palette.dominant.background if config.ui.previewBgDynamicColors == 'true' else '' }}"
    to: "{{ image.palette.muted.background if config.ui.previewBgDynamicColors == 'true' else '' }}"
---

<div class="flex h-[100svh] w-screen items-center justify-center">
  <div
    class="max-w-[100vw] min-h-[100svh] relative flex items-center"
    style="aspect-ratio: {{ image.aspectRatio | round(2) }}"
  >
    {%- set imgObj = image -%}
    {%- set placeholderClasses = "max-h-[100svh] min-w-full max-w-[100vw]" -%}
    {%- include "src/_includes/components/image-renderer.njk" -%}
  </div>

  {# Details dialog (modal) markup #}
  {%- if config.ui.showDetails == "true" -%}
    {%- set imgObj = image -%}
    {%- include "src/_includes/components/dialog-details.njk" -%}
  {%- endif -%}
</div>

{# Buttons #}
{%- if pagination.href.previous -%}
  <div class="flex fixed top-0 left-0 mx-2 items-center min-h-[100svh]">
    {%- set buttonIcon = "src/_includes/icons/previous.njk" -%}
    {%- set buttonId = "previous" -%}
    {%- set buttonTitle = "Previous (←)" -%}
    {%- set buttonLink = pagination.href.previous -%}
    {%- include "src/_includes/components/button-link.njk" -%}
  </div>
{%- endif -%}

{%- if pagination.href.next -%}
  <div class="flex fixed top-0 right-0 mx-2 items-center min-h-[100svh]">
    {%- set buttonIcon = "src/_includes/icons/next.njk" -%}
    {%- set buttonId = "next" -%}
    {%- set buttonTitle = "Next (→)" -%}
    {%- set buttonLink = pagination.href.next -%}
    {%- include "src/_includes/components/button-link.njk" -%}
  </div>
{%- endif -%}

<div class="fixed top-0 right-0 m-2">
  {%- set buttonIcon = "src/_includes/icons/close.njk" -%}
  {%- set buttonId = "close" -%}
  {%- set buttonClasses = "float-right" -%}
  {%- set buttonTitle = "Close (Esc)" -%}
  {%- set buttonLink = "/" | toRelativeUrl -%}
  {# TODO: check if it goes to the previous place and check with subdomains #}
  {%- include "src/_includes/components/button-link.njk" -%}

  {# checking the length of exif object here due to Sanity's behavior of including only unrelated data #}
  {%- if config.ui.showDetails == "true" and (image.title or image.description or image.tags) or (config.ui.showDetailsExif == "true" and image.exif | length > 5) -%}
    {%- set buttonIcon = "src/_includes/icons/details.njk" -%}
    {%- set buttonClasses = "float-right" -%}
    {%- set buttonId = "details" -%}
    {%- set buttonTitle = "Details (I)" -%}
    {%- set buttonClickFunc = "(function(){ document.getElementById('dialog-details').showModal();})(this)" -%}
    {%- include "src/_includes/components/button.njk" -%}
  {%- endif -%}
  {%- if config.ui.allowDownload == "true" -%}
    {%- set buttonIcon = "src/_includes/icons/download.njk" -%}
    {%- set buttonId = "download" -%}
    {%- set buttonClasses = "float-right" -%}
    {%- set buttonTitle = "Download (D)" -%}
    {%- set buttonLink = [image.url, "?dl"] | join -%}
    {%- include "src/_includes/components/button-link.njk" -%}
  {%- endif -%}
</div>

{%- block js -%}
  <script type="module" src="/js/preview.ts"></script>
{%- endblock -%}
