html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
