<!DOCTYPE html>
<html lang="{{ config.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or config.title }}</title>
    <meta name="description" content="{{ description or config.description }}" />
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
